.sidebar-shrinked {
  width: 72px;
  height: calc(100vh - 56px);
  background-color: rgb(33, 33, 33);
  z-index: 2;

  @media (max-width: 767px) {
    display: none;
  }
  * {
    box-sizing: border-box;
  }
  img {
    display: none;
  }
  a {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    color: #737f8a;
    padding: 10px 0 5px;
    outline: none;
    &:hover {
      background-color: rgb(56, 56, 56);
    }
    svg {
      font-size: 30px;
    }
    span {
      padding: 5px 0;
      font-size: 12px;
    }
  }
  position: relative;
  .apps-list {
    position: absolute;
    top: 210px;
    left: 72px;
    background-color: rgb(33, 33, 33);
    a {
      width: 130px;
      &:hover {
        background-color: rgb(56, 56, 56);
      }
    }
  }
}

.sidebar-full {
  width: 260px;
  height: 100vh;
  background-color: rgb(33, 33, 33);
  position: absolute;
  top: 0;
  transition: width 0.2s linear 0.1s;
  z-index: 2;
  * {
    box-sizing: border-box;
  }
  img {
    width: 150px;
    margin: auto;
    display: block;
    padding: 10px 0 40px;
  }
  a {
    text-decoration: none;
    display: flex;
    align-items: center;
    padding: 10px 25px;
    &:hover {
      background-color: rgb(56, 56, 56);
    }
    svg {
      font-size: 30px;
      color: #737f8a;
    }
    span {
      padding: 0 15px;
      color: #bcc0c4;
    }
  }
  .apps-list {
    a {
      width: 100%;
      color: #bcc0c4;
      text-align: center;
      display: inline-block;
      &:hover {
        background-color: rgb(56, 56, 56);
      }
    }
  }
}