.profile-header {
  width: 100%;
  height: 400px;
  background-color: rgb(63, 63, 63);
  position: relative;
  overflow: hidden;
  z-index: 0;
  @media (max-width: 767px) {
    height: 300px;
  }
  @media (min-width: 768px) and (max-width: 979px) {
    height: 280px;
  }
  .profile-wallpaper {
    width: 100%;
    height: 300px;
    @media (max-width: 767px) {
      height: 200px;
    }
    @media (min-width: 768px) and (max-width: 979px) {
      height: 200px;
    }
    img {
      width: 100%;
      min-height: 150px;
      object-fit: cover;
    }
  }
  .profile-body {
    width: 100%;
    height: 100px;
    display: flex;
    align-items: center;
    padding: 0 20px;
    position: absolute;
    background-color: rgb(63, 63, 63);
    color: white;
    box-sizing: border-box;
    @media (max-width: 767px) {
      height: 60px;
      padding: 0;
    }
    @media (min-width: 768px) and (max-width: 979px) {
      height: 70px;
    }
    img {
      width: 140px;
      top: -90px;
      position: absolute;
      border-radius: 8px;
      @media (max-width: 767px) {
        width: 80px;
        left: 50%;
        transform: translateX(-50%);
        top: -80px;
      }
    }
    h4 {
      font-size: 24px;
      top: -100px;
      margin-left: 160px;
      position: absolute;
      @media (max-width: 767px) {
        font-size: 18px;
        top: -20px;
        margin-left: 0;
        width: 100%;
        text-align: center;
      }
    }
    span {
      top: -40px;
      margin-left: 160px;
      position: absolute;
      @media (max-width: 767px) {
        font-size: 14px;
        top: 20px;
        margin-left: 0;
        width: 100%;
        text-align: center;
        padding-top: 5px;
      }
    }
    nav {
      margin-left: 140px;
      padding: 0 20px;
      display: flex;
      flex-direction: row;
      position: absolute;
      @media (max-width: 767px) {
        top: 45px;
        left: 50%;
        transform: translateX(-50%);
        margin-left: 0;
        padding: 0;
      }
      a {
        text-decoration: none;
        color: #737f8a;
        margin: 0 5px;
        padding: 10px 15px;
        background-color: rgb(46, 46, 46);
        border-radius: 4px;
        display: flex;
        flex-direction: row;
        align-items: center;
        svg {
          font-size: 20px;
          padding-right: 5px;
        }
      }
    }
  }
}
.profile-main {
  background-color: #3f3f3f;
  margin-top: 10px;
  width: 100%;
  padding: 20px;
  box-sizing: border-box;
}
.active-path{
  background-color: rgb(94, 94, 94) !important;
  color: rgb(27, 27, 27) !important;
}